@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Poetsen+One&display=swap');

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323956;
  --text-color: #fff;
  --main-color: #0ef;
}

* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Poetsen One", sans-serif;
  /* font-family: "Jaini Purva", system-ui; */
}


/* home image animation */
/* .image-animation {
  animation-name: top-bottom;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
} */

.image-animation {
  top: 0
}

@keyframes top-bottom {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

/* .about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--second-bg-color);
}

.about .about-img img {
  width: 30vw;
}

.about .heading {
  text-align: center;
  font-size: 4.5rem;
}

.about .about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about .about-content h3 {
  font-size: 2.6rem;
}

.about .about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
} */
/* .services {
  position: relative;
}

.services .heading {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3.6rem;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services .services-container .services-box {
  flex: 1 1 30rem;
  background-color: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.services .services-container .services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services .services-container .services-box h3 {
  font-size: 2.6rem;
}

.services .services-container .services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.services .services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.services-template {
  position: absolute;
  background-color: #0ef;
  width: 100%;
  height: 100%;
  z-index: 1000;
} */

/* .portfolio {
  position: relative;
  background-color: var(--second-bg-color);
  cursor: pointer;
}

.portfolio h2 {
  margin-bottom: 4rem;
  font-size: 3.6rem;
  text-align: center;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio .portfolio-container .portfolio-box {
  position: relative;
  min-height: 290px;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.portfolio .portfolio-container .portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  z-index: 2;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.01), var(--main-color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio .project-template {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.portfolio .project-template .title {
  text-align: center;
  padding: 30px;
  width: 100%;
}

.portfolio .project-template .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .more {
  position: absolute;
  bottom: 55px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
} */

/* .contact h2 {
  margin-bottom: 0rem;
  text-align: center;
  font-size: 3.6rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input {
  width: 49%;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  margin: 0.7rem 0;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  margin: 0.7rem 0;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
} */