@media (max-width : 1200px) {
    .header {
        /* position: fixed; */
        /* top: 0; */
        /* left: 50%; */
        /* width: 100%; */
        /* padding: 1rem; */
        /* margin-top: 18px; */
        /* background-color: #444f7c82; */
        /* backdrop-filter: blur(22px); */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* z-index: 999; */
        /* transform: translateX(-50%); */
        /* -webkit-transform: translateX(-50%); */
        /* -moz-transform: translateX(-50%); */
        /* -ms-transform: translateX(-50%); */
        /* -o-transform: translateX(-50%); */
        /* border-radius: 50px; */
        /* -webkit-border-radius: 50px; */
        /* -moz-border-radius: 50px; */
        /* -ms-border-radius: 50px; */
        /* -o-border-radius: 50px; */
    }

    .header .sticky {
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    }

    .header .logo {
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
        cursor: default;
    }

    .header #menu-icon {
        font-size: 3.6rem;
        color: var(--text-color);
        cursor: pointer;
        opacity: 0;
        display: none;
    }

    .header .navbar {
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .header .navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        text-align: center;
        padding: 6px 9px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .header .navbar a:hover,
    .header .navbar .active {
        /*color: var(--main-color);
        */
        background-color: #686c9e;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }


    .contact-info {
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 2rem;
        background-color: var(--main-color);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
}